@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  background: #ffffff;
}

.login__user {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  margin-right: 29px;
}

.login__user p {
  margin-bottom: 0;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.login__user img {
  border-radius: 50%;
  margin-left: 10px;
  background: rebeccapurple;
}

.notificacao{
  color: #ffffff;
  height: 12px;
  width: 12px;
  margin-bottom: 16px;
  margin-left: -6px;
  font: 600 0.6rem "Roboto", sans-serif;
  text-align: center;
  background-color: #F85959;
  border-radius: 50%;
}

main{
  position: absolute;
  width: 83.8%;
  height: 100vh;
  top: 10.25%;
  right: 0;
}

.main__principal{
  margin: 0 auto;
  width: 92.5%;
}

.info p{
  margin-bottom: 0.25rem;
}

.principal__section{
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
}

.principal__section .article__title{
  width: 72.5%;
  font: 800 20px "Roboto", sans-serif;
  color: #ED7839;
  letter-spacing: 1px;
}

.principal__section .citatacao__lateral{
  display: flex;
  width: 20.5%;
  flex-direction: column;
  align-items: center;
}
  
.principal__section button{
  height: 31px;
  width: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 1rem "Roboto", sans-serif;
  color: #ffffff;
  background: #ED7839;
  border: none;
  border-radius: 4px;
  
}

.principal__section .download__botao{
  width: 120px;
  justify-content: space-around;
  padding: 10px;
}

.principal__section .citatacao__lateral p{
  width: 107%;
  margin-top: 0.75rem;
  text-align: center;
  font: 500 0.85rem "Roboto", sans-serif;
  color: #ED7839;
  letter-spacing: 1px;
}

.principal__section .citatacao__lateral{
  display: flex;
  width: 20.5%;
  flex-direction: column;
  align-items: center;
}

.principal__section .citatacao__lateral p{
  width: 107%;
  margin-top: 0.75rem;
  text-align: center;
  font: 500 0.85rem "Roboto", sans-serif;
  color: #ED7839;
  letter-spacing: 1px;
}

.principal__section .botao{
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}

.video__secao .lateral__detalhes{
  border-radius: 3px;
  width: 23%;
  border: 1px solid #ececec;
}

.video__secao .lateral__detalhes h2{
  text-align: start;
  padding: 10px 15px;
  font: 500 1.25rem "Roboto", sans-serif;
  color: #4e4e4e;
  background-color: #fdebeb;
}

.video__secao .lateral__detalhes .lateral__informations--text{
  padding: 15px;
}

.video__secao .lateral__detalhes .lateral__informations--text span,
.video__secao .lateral__detalhes .lateral__informations--text p{
  color: #5C5C5C;
  font: 500 0.75rem "Quicksand", sans-serif;
}
  
.video__secao .lateral__detalhes .lateral__informations--text strong{
  color: #5C5C5C;
  font: 700 0.75rem "Quicksand", sans-serif;
}

.video__secao{
  margin-top: 0.85rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.video__secao .lateral__detalhes{
  width: 23%;
  border: 1px solid #ececec;
  border-radius: 3px;
  }

.autores{
  margin-top: 1.25rem;
}

.autores p {
  margin-bottom: 0;
}

.autores strong{
  font-size: 0.9rem;
}

.autores p{
  font-size: 0.88rem;
  margin-top: 0.25rem;
}

.lateral__universidade{
  margin-top: 2.25rem;
}

.lateral__universidade p {
  margin-bottom: 0;
}

.lateral__universidade p{
  font-weight: 300;
  font-size: 0.78rem;
}

#summary{
  margin-top: 2rem;
  border: 1px solid #ececec;
  border-radius: 3px;
  cursor: pointer;
}

#summary .section__title{
  padding: 10px 15px;
  font: 500 1.25rem "Roboto", sans-serif;
  color: #4E4E4E;
  background-color: #fdf1eb;
}

#summary .summary-text,
#summary .full-summary{
  background: #ffffff;
}

#summary .summary-text p,
#summary .full-summary p{
  font: 400 0.88rem "Quicksand", sans-serif;
  line-height: 1.4rem;
  letter-spacing: 0.014rem;
  text-align: left;
  margin-bottom: 2rem;
}

#summary .summary-text p,
#summary .full-summary p:last-child{
  margin-bottom: 0;
}

#summary .summary-text strong{
  color: #ED7839;
}

#summary div{
  height: 100%;
  transition: opacity 0.5s linear;
}

hr {
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
    opacity: 10;
}

#summary div.hide{
  visibility: hidden;
  opacity: 0;
  height: 0px;
  padding: 0px;
}

#summary div.show{
  visibility: visible;
  opacity: 1;
  height: 100%;
  padding: 15px
}

.discurssao{
  margin-top: 2rem;
  padding-bottom: 0.8rem;
  border: 1px solid #ececec;
  border-radius: 3px;
}

.discurssao .section__title{
  padding: 10px 15px;
  font: 500 1.25rem "Roboto", sans-serif;
  color: #4E4E4E;
  background-color: #fdf1eb;
}

.discurssao #qa-info{
  text-align: center;
  margin-top: 1rem;
}

.discurssao #qa-info h2{
  font: 600 1.1rem "Roboto", sans-serif;
  color: #ED7839;
  letter-spacing: 0.2px;
}

.discurssao #qa-info #qa-icons{
  display: flex;
  margin: 1.75rem auto 0;
  width: 24.5%;
  justify-content: space-between;
}

.discurssao #qa-info p{
  margin: 2rem auto 0;
  width: 60%;
  font: 400 0.88rem "Quicksand", sans-serif;
}

#bottom-text hr{
  width: 95%;
  left: 0;
  border: 1px solid #e7e7e7;
}

.discurssao #qa-info hr{
  margin: 2.25rem auto 0;
  width: 97.5%;
  border: 1px solid #e7e7e7;
}

.discurssao .topic{
  width: 97.5%;
  margin: 1rem auto 0;
  padding: 1rem 1.5rem;
  border: 1px solid #E7E7E7;
  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  font-family: "Quicksand", sans-serif;
}

.discurssao .topic .topic-content .topic-title{
  font-weight: 700;
  font-size: 1rem;
  color: #ED7839;
}

.discurssao .topic .topic-content .topic-creator{
  margin-top: 0.2rem;
  font-weight: 600;
  font-size: 0.75rem;
  color: #5C5C5C;
}

.discurssao .topic .topic-content .topic-question{
  margin-top: 0.7rem;
  font-weight: 400;
  font-size: 0.88rem;
  color: #4D4D4D;
}

.discurssao .topic .topic-info{
  width: 17.5%;
  display: flex;
  margin-top: 0.7rem;
  justify-content: space-between;
  align-items: center;
}

.discurssao .topic .topic-info p{
  font-weight: 300;
  font-size: 0.85rem;
}

.discurssao #new-topic{
  display: flex;
  flex-direction: column;
}

.discurssao #new-topic p{
  text-align: center;
  font: 400 0.88rem "Quicksand", sans-serif;
}

.discurssao #new-topic form{
  display: flex;
  flex-direction: column;
  width: 97.5%;
  margin: 0.7rem auto 1rem;
  font: 700 1rem "Roboto", sans-serif;
  color: #ED7839;
}

.discurssao #new-topic form input{
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 11px 0px 11px 23px;
  font: 500 0.88rem "Quicksand", sans-serif;
  color: #4D4D4D;
  background-color: #ffffff;
}

.discurssao #new-topic form label{
  margin-top: 0.8rem;
}

.discurssao #new-topic form textarea{
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #ffffff;
  resize: none;
}

.discurssao #new-topic form #textarea-bottom{
  display: flex;
  justify-content: space-between;
  margin: -2rem auto 0;
  height: 2rem;
  width: 100%;
  background-color: #EAF1F2;
  border: 1px solid #cccccc;
}

.discurssao #new-topic form #text-edit-options{
  display: flex;
  width: 5%;
  justify-content: space-between;
  margin-left: 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #474747;
  align-items: center;
}

.discurssao #new-topic form #text-edit-options h2:nth-child(2){
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.27rem;
}

.discurssao #new-topic form #send-button{
  width: 20%;
  border: none;
  border-radius: 0px 0px 4px 0px;
  background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
  color: #ffffff;
  font: 600 0.9rem "Quicksand", sans-serif;
  cursor: pointer;
  
}

.discurssao #new-topic hr{
  margin: 0 auto 1rem;
  width: 97.5%;
  border: 1px solid #e7e7e7;
}

.discurssao #sended-topic-screen{
  display: flex;
  flex-direction: column;
}

.discurssao #sended-topic-screen #confirm-message{
  margin-top: 1rem;
  text-align: center;
  font: 700 1.13rem "Roboto", sans-serif;
  color: #ED7839;
}

.discurssao #sended-topic-screen #thank-you-message{
  margin-top: 1rem;
  text-align: center;
  font: 400 0.88rem "Quicksand", sans-serif;
  color: #595959;
}

.discurssao #sended-topic-screen a{
  margin-top: 2rem;
  text-align: center;
  font: 500 0.88rem "Quicksand", sans-serif;
  color: #F48F44;
}

.discurssao #sended-topic-screen hr{
  width: 97.5%;
  margin: 4rem auto 0;
  border: 1px solid #e7e7e7;
}

main .discurssao #sended-topic-screen hr{
  margin: 3rem auto 0;
}

.discurssao #sended-topic-screen #sended-create-new-topic{
  width: 22.5%;
  height: 2rem;
  margin: -1.2rem auto 0;
  border: none;
  border-radius: 4px;
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  color: white;
  font: 600 0.9rem "Quicksand", sans-serif;
  cursor: pointer;
}

.discurssao #sended-topic-screen .recently-created-topic{
  cursor: default;
  background-color: #ececec;
}

.discurssao #sended-topic-screen .recently-created-topic div{
  filter: blur(2px);
}

.discurssao #sended-topic-screen .recently-created-topic .topic-info{
  visibility: hidden;
}

.discurssao #sended-topic-screen #waiting-feedback{
  margin: -7rem auto 2rem;
  text-align: center;
}

.discurssao #sended-topic-screen #waiting-feedback h3{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font: 700 1rem "Quicksand", sans-serif;
  color: #707070;
}
.discurssao section{
  transition: opacity 0.3s linear;
}

.discurssao #qa-info button{
  display: flex;
  margin: -1.1rem auto 0;
  padding: 7px 14px;
  width: 130px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(180deg, #FFB354 0%, #F0813D 100%);
  color: #ffffff;
  font: 600 0.9rem "Quicksand", sans-serif;
  justify-content: space-between;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  z-index: -1;
}

.discurssao #qa-info{
  text-align: center;
  margin-top: 1rem;
}

.discurssao #qa-info h2{
  font: 600 1.1rem "Roboto", sans-serif;
  color: var(--orange-500);
  letter-spacing: 0.2px;
}

.discurssao #sended-topic-screen #waiting-feedback h3{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font: 700 1rem "Quicksand", sans-serif;
  color: #707070;
}

.hide-qa-section{
  visibility: hidden;
  opacity: 0;
  height: 0px;
  margin: 0;
}

.show-qa-section{
  visibility: visible;
  opacity: 1;
  height: 100%;
}